/*  your css code here. If applicable */
.container{
	width: 350px;
    margin: 100px auto;        /* center container */
    padding:30px;
    border: 2px solid #333;
    border-radius: 12px;
    text-align: center;         /* align blocks inline */
    background-color: lightblue;
	height:65px;
}
.red, .green, .yellow {
    width: 70px;
    height: 70px;
    border-radius: 50%;         /* make circles */
    display: inline-block;      /* inline blocks */
    margin: 10px;
	gap:10px;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .yellow {
    background-color: yellow;
  }





